.logo {
   display: block;
   margin: 1.5rem;
}
.navbar {
   align-items: center;
   display: flex;
   justify-content: space-between;
   left: 0;
   margin: 0;
   padding: 0;
   position: sticky;
   top: 0;
   z-index: 1000;
}
.navbar-links {
   display: flex;
   list-style-type: none;
   margin: 0;
}
.navbar-links li {
   padding: 1.5rem;
}
.navbar-links li a {
   color: inherit;
   text-decoration: none;
}
.navbar-links li:hover {
   background-color: #f9f9f9;
}