.hero {
   align-items: center;
   background-color: #f9f9f9;
   display: flex;
   height: 450pt;
   justify-content: center;
   margin: 0;
}
.hero-text {
   text-align: center;
}
.hero-text h1 {
   font-size: 5rem;
}
main section {
   color: rgb(24, 24, 24);
   padding: 2.5vw;
   margin: 0vw 10vw;
}
